footer {
    background: #495E57;
    width: 100%;
    min-height: 500px;
    padding-top: 120px;
}

footer .layout>div {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

footer .layout>div>div {
    flex: 1 1 auto;
    text-align: left;
}

footer p {
    white-space: pre;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #EDEFEE;
    margin-bottom: 24px;
}

footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
    margin-block: 0;
}

footer a {
    text-decoration: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #EDEFEE;
}

footer a:hover,
footer a:active {
    color: #f4ce15;
    text-decoration: underline;
}