nav {
    margin: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}

nav li a {
    text-decoration: none;
    color: #495e57;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

nav li a:hover,
nav li a:active {
    color: #f4ce15;
    text-decoration: underline;
}